{% extends base.html %}

{% block css %}

{% end %}

{% block navi %}
    <h1 class="page-title">{{ title_content }}</h1>
    <ul class="breadcrumb">
        <li><a >{{ title_content }}</a></li>
        <li class="active"><a></a></li>
    </ul>
{% end %}

{% block content %}
    <!--表格-->
    <table class="table table-striped table-bordered table-hover dataTable no-footer"
       aria-describedby="dataTables-example_info" id="usertable">
    <thead>
    <tr role="row">
        <th></th>
        <th>姓名</th>
        <th>电话</th>
        <th>内容</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr class="gradeA odd">
        <!--编号-->
        <td>{{ items.index(item)+1 }}</td>
        <td class="hidden">{{ item['id'] }}</td>
        <td>{{ item['name'] }}</td>
        <td>{{ item['phone'] }}</td>
        <td>{{ item['message']}}</td>
        <td>{{ item['created'] }}</td>
        <td>
            <a style="margin-right:8px" href="#" class="view"> 查看</a>
            <!--查看详细评论，不用再访问服务器-->
            <a href="#" onclick="execute({{ item['id'] }}, {{ page_current }})"> 删除</a>
            <!--删除时，传递id号以指明删除那一条，page是当前页，删除后刷新页面用-->
        </td>
    </tr>
    {% end %}
    </tbody>

</table>
    {% if page_total > 1 %}
    <!--分页栏-->
    <div class="tcdPageCode"></div>
    {% end %}
    <!--详情模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="box-shadow:none;background-color: transparent;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">评论详情</h4>
            </div>
            <div class="modal-body" id="modal-user">
                <ul class="list-group">
                    <li class="list-group-item"><span class="col-sm-3 text-right">姓名：</span><span id="author"></span></li>
                    <li class="list-group-item"><span class="col-sm-3 text-right">电话：</span><span id="contact"></span></li>
                    <li class="list-group-item"><span class="col-sm-3 text-right">创建时间：</span><span id="created"></span></li>
                    <li class="list-group-item"><span class="col-sm-3 text-right">内容：</span><span id="contents"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block js %}
<!--使用分页插件-->
<script>
    $(".tcdPageCode").createPage({
        pageCount: {{ page_total }},   // 总页数
        current: {{ page_current }}, // 当前页数
        backFn: function (p) {
        // p 是点击的哪一页，点击时出发该函数
            window.location.href='/manage/contact-us?page_current=' + p;
        }
    });
</script>
<!--查看-->
<script>
    $('#usertable a.view').click(function () {
        var td = $(this).parents('tr').find('td');
        var author = td.eq(2).text();
        var contact = td.eq(3).text();
        var content = td.eq(4).text();
        var created = td.eq(5).text();

        $('#myModal #author').text(author);    // p#author中间不能有空格
        $('#myModal #contact').text(contact);    // p#author中间不能有空格
        $('#myModal #created').text(created);    // p#author中间不能有空格
        $('#myModal #contents').text(content);    // p#author中间不能有空格

//        for (var i = 1; i < td.length; i++) {
//            $('#modal-user input').eq(i).val(td.eq(i).text());
//        }
        $('#myModal').modal('show');
    })
</script>
<!--删除-->
<script>
    function execute(id){
        if (true){
            $.ajax({
                type:'post',
                url: '/manage/contact-us/delete',
                data: {'id': id, '_xsrf': getCookie("_xsrf"), 'page_current': {{ page_current }}},
                success: function (data) {
                    if (data == 'false'){
                        alert('删除失败');
                    }else{
                        // alert('删除成功');
                        window.location.href='/manage/contact-us?page_current=' + data;
                    }
                }
            });
        }
    }
</script>
{% end %}
