{% extends base.html %}

{% block navi %}
    <h1 class="page-title">{{ title_content }}</h1>
    <ul class="breadcrumb">
        <li><a>{{ title_navi1 }}</a></li>
        <li><a>{{ title_navi2 }}</a></li>
    </ul>
{% end %}


{% block content %}
<a id="add" class="btn btn-primary" href="/news-maker/{{ category }}?action_type=add&page_current={{ page_current }}"><i class="fa fa-plus"></i> 添加</a>
{% if len(url_preview) > 0 %}
    <a class="btn btn-primary" href="{{ url_preview }}" target="_blank"><i class="fa fa-eye"></i> 预览</a>
{% end %}
<br/>
<br/>
<!--表格-->
<table class="table table-striped table-bordered table-hover dataTable no-footer"
       aria-describedby="dataTables-example_info" id="usertable">
    <!--表格标题栏-->
    <thead>
    <tr role="row">
        <th style="width: 10px"></th>
        <th style="width: 100px">标题</th>
        <th style="width: 250px">摘要</th>
        <th style="width: 150px">创建时间</th>
        <th style="width: 150px">修改时间</th>
        <th style="width: 180px">操作</th>
    </tr>
    </thead>
    <!--表格内容-->
    <tbody>
    {% for item in items %}
    <tr class="gradeA odd">
        <!--隐藏-->
        <td class="hidden">{{ item['id'] }}</td>
        <!--编号-->
        <td class=" ">{{ items.index(item)+1 }}</td>
        <!--标题-->
        <td class=" ">{{ item['title'] }}</td>
        <!--摘要-->
        <td class=" ">{{ item['summary'] }}</td>
        <!--创建时间-->
        <td class=" ">{{ item['created']}}</td>
        <!--修改时间-->
        <td class=" ">{{ item['modified']}}</td>
        <!--操作-->
        <td>
            <a class="view" href="/{{ father_category }}-detail/{{ category }}?id={{ item['id']}}" target="_blank"
               style="margin-right:8px"><i class="fa  fa-external-link" ></i> 查看</a>
            <a class="edit" href="/news-maker/{{ category }}?id={{ item['id']}}&action_type=edit&page_current={{ page_current }}"
               style="margin-right:8px"><i class="fa fa-pencil" ></i> 编辑</a>
            <a onclick="execute({{ item['id'] }})"><i class="fa fa-trash-o"></i>删除</a>
            <!--删除时，传递id号以指明删除那一条，page是当前页，删除后刷新页面用-->
        </td>
    </tr>
    {% end %}
    </tbody>
</table>
<br/>
<br/>
{% if page_total > 1 %}
<!--分页栏-->
<div class="tcdPageCode"></div>
{% end %}
{% end %}


{% block js %}
<!--使用分页插件-->
<script>
    $(".tcdPageCode").createPage({
        pageCount: '{{ page_total }}',
        current: '{{ page_current }}',
        backFn: function (p) {
            window.location.href='/manage-news/{{ category }}?page_current=' + p;
        }
    });
</script>
<!--删除-->
<script type="text/javascript">
    function execute(id){
        if (true){
            $.ajax({
                type:'post',
                url: '/news-discard/{{ category }}',
                data: {'id_discard': id, '_xsrf': getCookie("_xsrf"), 'action_type':'del', 'page_current': '{{ page_current }}' },
                success: function (data) {
                    if (data != 'false'){
                        window.location.href='/manage-news/{{ category }}?page_current=' + data;
                    }
                }
            });
        }
    }
</script>
{% end %}
